* {box-sizing: border-box
}
.text-shadow-1 {
  padding: 16px;
  background: #f4eeff00;      /* Цвет верхней части - шапки */
  color: #33375b;
  letter-spacing: 0.1em;
  text-align: center;
}



body{
  background: linear-gradient(315deg, #9fb3d1 0%, #f5f7f7 100%);      /* Цвет фона всего сайта */
  font-family: inherit;
  position: absolute;
  align-items: center;
  margin: auto 27%;
  width: 46%;
  font-size: 1rem;
  background-attachment: fixed;
  
}
/* добавить паддинг в контейнер */
.container {
  padding: auto;
}
/* Поля для ввода */
input[type=text], input[type=password] {
  box-shadow: 0 0 10px 5px rgba(132, 140, 214, 0.753);
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 10px;
  background: #b8c6db7e;      /* Цвет фона полей для ввода */
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #a5aae0;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #596e79;    /* Цвет полосочек, которые тонкие сверху и снизу */
  margin-bottom: 10px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #424874;    /* Цвет кнопки регистрации */
  color: #f7f7f7;
  padding: 16px 20px;
  margin: 8px 0;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links dodgerblue */
a {
  color: solid #424874 ;    /* Цвет текста на кнопке регистрации */
}
c {
  color: #424874;
  font-size: 1rem;
  font-family: inherit;     /* Цвет текста для подписей к полям */
 }      

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #a5aae0;    /* Цвет фона самого нижнего элемента */
  text-align:center;
  font: 1.5em;
  padding-top: 3px;
  padding-bottom: 0.013px;
  border-radius: 50px;
  width: 95%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.error {
  background-color: #ff6774;  
  text-align: center;
  font: 1.5em;
  border-radius: 20px 20px 20px 20px ;;
  width: fit-content;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}