<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница теста</title>
    <link rel="stylesheet" href="/static/css/create_test_style.css">
    <script src="/static/js/auth.js"></script>
  </head>
  <body>
    <div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
  </div >
    <div class="topnav">
      <a href="/">Главная страница</a>
      <a class="split" id="exit">Выйти</a>
      <a href="/" class="split" id="name"></a>
      <script src="/static/js/exit.js"></script>
  </div>

  <fieldset id="test_name">
    <input id="write_title" type="text" placeholder="Введите название теста"><br/>
    <label class="descr" id="description">Все ответы должны быть в именительном падеже и начинаться со строчной буквы. В вопросах, где несколько вариантов ответа - вы должны выбрать ответ, который будет правильным. За каждый вопрос дается 1 балл.<bt/><br/>При любом измении теста - все ответы удаляются, будьте осторожны!!</label><br>
  </fieldset> 

    <div id="fs_container">
      <div class="fs_questions" style="display: none;">
        <fieldset id="fs_template">
                <div class="flag">
                  <button id="type_btn">Несколько<br/>ответов</button>
                  <button class="delete" id="delete_btn">Удалить вопрос</button>
                </div>
                <input id="question" type="text" placeholder="Введите вопрос">
                <p></p>

                <div id="type_answer_one_input">
                  <input id="answer" type="text" placeholder="Введите правильный ответ на вопрос">
                </div>

                <div id="type_answer_mult_inputs" style="display: none;">
                  <ul id="answ_opts">
                  </ul>
  
                  <button id="add_answ">Добавить вариант ответа</button>
                  <button id="delete_answ">Удалить вариант ответа</button>

                </div>
         </fieldset>
      </div>
  </div>

    <fieldset id="test_grade">
      <label class="descr" id="description_to_grades">Количество баллов для оценок:</label><br/>
      <label class="descr" id="grade_5">"5" от </label>
      <input id="mark_5" type="number" max="50" min="0"><br/>
      <label class="descr" id="grade_4">"4" от </label>
      <input id="mark_4" type="number" max="50" min="0"><br/>
      <label class="descr" id="grade_3">"3" от </label>
      <input id="mark_3" type="number" max="50" min="0"><br/>
      <label class="descr" id="grade_2">"2" от </label>
      <input id="mark_2" type="number" max="50" min="0"><br/>
    </fieldset>

  <div class="add_question">
    <button id="add_questions">Добавить вопрос</button>
    <script src="/static/js/add_button.js"></script>
  </div>

  <script src="/static/js/fill_edittest.js"></script>

  <div class="save_button">
    <button>Сохранить тест</button>
    <script src="/static/js/save_test.js"></script>
  </div>
  </body>
</html>