<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's page</title>
    <link rel="stylesheet" href="static\css\testing.css">
</head>
<body>

<div class="topnav">
  <a href="/profile" >Я в шоке</a>
  <a class="split">Выйти</a>
</div>

<h1 > Статистика </h1>

<fieldset id="fs_test_info">
     <details>
    	<summary id="test_name">Тест №1 по теме "Символизм в фильме "Драйв" и образ Райана Гослинга"</summary>
        <ul>
    	<li>Чел 1</li>
        </ul>
	</details>
    <label id="statistics_amount_of_tests">Всего: n чел.</label>
</fieldset>

    <div id="fs_container">
    <script src=""></script>
  </div>
</body>
</html>