<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт демка</title>
    <link rel="stylesheet" href="static\css\main.css">
    <script src="/static/js/auth.js"></script>
</head>
<body>
  <div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div >
<div class="topnav">
    <a href="/edit_test?mode=create">Создать тест</a>
    <a class="split" id="exit">Выйти</a>
    <a href="/" class="split" id="name"></a>
    <script src="/static/js/exit.js"></script>
</div>

<h1> Статистика </h1>
<div class="fs_container">
    <div class="idk" id="idktoo" style="display: none;">
          
          <fieldset id="test_fs">
               <details>
                  <summary id="test_name"></summary>
                  <table id ="table_result">
                    <thead>
                      <tr>
                        <th >Имя</th>
                        <th >Класс</th>
                        <th >Результат</th>
                        <th >Оценка</th>
                      </tr>
                    </thead>
                    <tbody id="table_body">
                    </tbody>
                  </table>

                  <ul id="sols_list">
                  </ul>
              </details>
              <label id="lbl_stat">Всего: </label>
              <p></p>
              <label id="lbl_id"></label>
              <div class="delete_redact">
                <button id="edit_btn">Редактировать тест</button>
                <button id="delete_btn">Удалить тест</button>
              </div>
          </fieldset>
    </div>
</div>

<script src="/static/js/get_info.js"></script>
</body>
</html>