<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's page</title>
    <link rel="stylesheet" href="C:\Users\Daria\PycharmProjects\school_project\assets\static\css\teachers_pag_style.css">
</head>
<body>

<div class="topnav">
    <a href="create_a_test">Создать тест</a>
    <a href="#exit" class="split">Выйти</a>
    <a href="#name_surname" class="split" >Я в шоке</a>

</div>

<h1> Статистика </h1>

<div class="delete_redact">
  <button>Редактировать тест</button>
  <button>Удалить тест</button>
</div>

<fieldset id="test_num_1">
     <details>
    	<summary>Тест №1 по теме "Символизм в фильме "Драйв" и образ Райана Гослинга"</summary>
        <ul>
    	<li>Чел 1</li>
        <li>Чел 2</li>
        <li>Чел 3</li>
        <li>Чел ...</li>
        <li>Чел n</li>
        </ul>
	</details>
    <label>Всего: n чел</label>
</fieldset>


<div class="delete_redact">
  <button>Редактировать тест</button>
  <button>Удалить тест</button>
</div>

<fieldset id="test_num_2">
     <details>
    	<summary>Тест №2 по теме "Как я понимаю смысл фильма "Барби"</summary>
        <ul>
    	<li>Чел 1</li>
        <li>Чел 2</li>
        <li>Чел 3</li>
        <li>Чел ...</li>
        <li>Чел n</li>
        </ul>
	</details>
    <label>Всего: n чел</label>
</fieldset>

<div class="delete_redact">
  <button>Редактировать тест</button>
  <button>Удалить тест</button>
</div>

<fieldset id="test_num_3">
     <details>
    	<summary>Тест №3 по теме "Почему Киллиан Мерфи - главный актер нашего века"</summary>
        <ul>
    	<li>Чел 1</li>
        <li>Чел 2</li>
        <li>Чел 3</li>
        <li>Чел ...</li>
        <li>Чел n</li>
        </ul>
	</details>
    <label>Всего: n чел</label>
</fieldset>

</body>
</html>