<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 Test Page</title>
    <link rel="stylesheet" href="testing.css">
  </head>
  <body>

  <fieldset id="FIO">
          <legend>Фамилия Имя</legend>
          <input id="surname_name" type="text" placeholder="поле для ввода">
   </fieldset>


   <fieldset id="clas">
          <legend>Ваш класс</legend>
          <input id="clas_num" type="text" placeholder="поле для ввода">
   </fieldset>


    <fieldset id="question_long">
              <label>Вводи свои километровые вопросы</label>
              <p></p>
              <input id="question" type="text" placeholder="поле для ввода">
   </fieldset>


   <fieldset id="question_radio_button">
              <legend>Вопрос</legend>
              <ul>
                <li><label for="radio1"><input id="radio1" name="radio" type="radio" checked="checked"> Ответ 1</label></li>
                <li><label for="radio2"><input id="radio2" name="radio" type="radio"> Ответ 2</label></li>
                <li><label for="radio3"><input id="radio3" name="radio" type="radio"> Ответ 3</label></li>
                <li><label for="radio3"><input id="radio4" name="radio" type="radio"> Ответ 4</label></li>
              </ul>
            </fieldset>
  </body>
</html>