<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница теста</title>
    <link rel="stylesheet" href="static\css\testing.css">
  </head>
  <body>

  <fieldset id="fs_name">
          <label>Фамилия Имя</label><br>
          <input id="surname_name" type="text" placeholder="поле для ввода">
   </fieldset>


   <fieldset id="fs_clas">
          <label>Ваш класс</label><br>

          <input id="clas_num" type="text" placeholder="поле для ввода">
   </fieldset>


    <fieldset id="fs_question_input" style="display: none;">
              <label id="question">Вопрос</label>
              <p></p>
              <input id="answer" type="text" placeholder="поле для ввода">
    </fieldset>


   <fieldset id="fs_question_rb" style="display: none;">
    <label id="question">Вопрос</label><br>
              <ul id="answ_opts">
              </ul>
    </fieldset>

    <div id="fs_container">
      <script src="/static/js/test.js"></script>
    </div>
  </body>
</html>