<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница теста</title>
    <link rel="stylesheet" href="C:\Users\Александр\Desktop\parallax-3d-lens-effect-website\school_project\assets\static\css\testing.css"> "static\css\testing.css"
  </head>
  <body>

  <fieldset id="test_name">
          <label id="name"></label><br>
          <label id="author">Автор: </label><br>
   </fieldset>


  <fieldset id="fs_name">
          <label>Фамилия Имя</label><br>
          <input id="surname_name" type="text" placeholder="поле для ввода">
   </fieldset>


   <fieldset id="fs_clas">
          <label>Ваш класс</label><br>

          <input id="clas_num" type="text" placeholder="поле для ввода. Пример: Иван Иванов">
   </fieldset>


    <fieldset id="fs_question_input" style="display: none;">
              <label id="question">Вопрос</label>
              <p></p>
              <input id="answer" type="text" placeholder="поле для ввода. Пример: 10В">
    </fieldset>


   <fieldset id="fs_question_rb" style="display: none;">
    <label id="question">Вопрос</label><br>
              <ul id="answ_opts">
              </ul>
    </fieldset>

    <div id="fs_container">
        <script src="/static/js/test.js"></script>
    </div>
    
    <button id="end_test">Завершить тест</button>
    <script>
      document.querySelector('#end_test').addEventListener('click', function() {
        const fieldsetContainer = document.getElementById("fs_container");

        var data = {};
        var err = false
        var fieldsets = document.querySelectorAll('fieldset');
        data['author'] = document.getElementById('surname_name').value;
        data['class'] = document.getElementById('clas_num').value;
        if (data['author'] === '' || data['class'] === '') {
          alert("Не все поля заполнены!")
          err = true
          return
        }
        // Получаем текущий URL страницы
        var url = window.location.href;

        // Создаем объект URL
        var urlObj = new URL(url);

        // Получаем параметр "t" из URL
        var test_id = urlObj.searchParams.get('t');
        data.test_id = test_id
        data.answers = []
        
        fieldsetContainer.querySelectorAll("fieldset").forEach(fs => {
          if (fs.querySelector('ul') === null) {
            let answer = fs.querySelector('input').value
            if (answer === "") {
              err = true
            }
            data['answers'] = data['answers'].concat(fs.querySelector('input').value)
          } else {
            var got_answer = false
            var idksomeusefulvariable = 0
            fs.querySelector('ul').querySelectorAll('input').forEach(radio => {
              if (radio.checked) {
                data['answers'] = data['answers'].concat(idksomeusefulvariable.toString())
                got_answer = true
              }
              idksomeusefulvariable++
            })
            if (!got_answer) {
              err = true
            }
          }
        })
        if (err) {alert('Не все поля заполнены!');return;}
        console.log(data)
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
            // Если требуется, можно также добавить другие заголовки
          },
          body: JSON.stringify(data)
        };
        fetch('/api/v1/getresult', options).then(function(response) {
          if (!response.ok) {
            throw new Error('Произошла ошибка при запросе: ' + response.status);
          }
          return response.json();
        }).then(function(fieldsetData) {
          console.log(fieldsetData)
        }).catch(function(error) {
          console.error('Сетевая ошибка: ', error);
        });
        });
    </script>
  </body>
</html>